@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
:root  {
  --background: 85.9 100% 95%;
  --foreground: 85.9 5% 0%;
  --card: 85.9 50% 90%;
  --card-foreground: 85.9 5% 10%;
  --popover: 85.9 100% 95%;
  --popover-foreground: 85.9 100% 0%;
  --primary: 85.9 78.4% 27.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 85.9 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 47.900000000000006 30% 85%;
  --muted-foreground: 85.9 5% 35%;
  --accent: 47.900000000000006 30% 80%;
  --accent-foreground: 85.9 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 85.9 5% 90%;
  --border: 85.9 30% 50%;
  --input: 85.9 30% 18%;
  --ring: 85.9 78.4% 27.3%;
  --radius: 0rem;
}
.dark  {
  --background: 85.9 50% 5%;
  --foreground: 85.9 5% 90%;
  --card: 85.9 50% 0%;
  --card-foreground: 85.9 5% 90%;
  --popover: 85.9 50% 5%;
  --popover-foreground: 85.9 5% 90%;
  --primary: 85.9 78.4% 27.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 85.9 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 47.900000000000006 30% 15%;
  --muted-foreground: 85.9 5% 60%;
  --accent: 47.900000000000006 30% 15%;
  --accent-foreground: 85.9 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 85.9 5% 90%;
  --border: 85.9 30% 18%;
  --input: 85.9 30% 18%;
  --ring: 85.9 78.4% 27.3%;
  --radius: 0rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply scroll-m-20 text-6xl font-bold tracking-tight lg:text-7xl
}
h2 {
  @apply  scroll-m-20 border-b  text-5xl font-semibold tracking-tight transition-colors first:mt-0
}
h3{
  @apply  scroll-m-20 text-4xl font-semibold tracking-tight
}
h4{
  @apply  scroll-m-20 text-3xl font-semibold tracking-tight
}
h5{
  @apply  scroll-m-20 text-2xl font-semibold tracking-tight
}
h6{
  @apply  scroll-m-20 text-xl font-semibold tracking-tight
}
p{
  @apply leading-7 [&:not(:first-child)]:mt-0 opacity-80
}
ul{
  @apply my-6 ml-0 [&>li]:mt-2
}
blockquote{
  @apply mt-6 border-l-2 pl-6 italic
}

code {
  @apply bg-gray-100 text-gray-900 rounded-md px-2 py-1
}